Repository tbowman01/prompt-card-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-security-backend, eslint-security-frontend, typescript-check-backend, typescript-check-frontend, npm-audit-backend, npm-audit-frontend, retire-js-scan, license-compliance, env-var-security, sql-injection-check, api-security-check

Path conditions:
  eslint-security-backend: any of: ^backend/src/.*\.(ts|js)$
  eslint-security-frontend: any of: ^frontend/src/.*\.(tsx|ts|jsx|js)$
  typescript-check-backend: any of: ^backend/src/.*\.ts$
  typescript-check-frontend: any of: ^frontend/src/.*\.(ts|tsx)$
  npm-audit-backend: any of: ^backend/(package\.json|package-lock\.json)$
  npm-audit-frontend: any of: ^frontend/(package\.json|package-lock\.json)$
  retire-js-scan: any of: \.(js|ts|jsx|tsx|json)$
  license-compliance: any of: ^(backend|frontend)/package\.json$
  env-var-security: any of: \.(ts|js|tsx|jsx)$
  sql-injection-check: any of: ^backend/src/.*\.(ts|js)$
  api-security-check: any of: ^backend/src/.*\.(ts|js)$

feat: Add comprehensive demo mode and fix tutorial issues
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  COMPREHENSIVE_TEST_REPORT.md
  FINAL_VERIFICATION_REPORT.md
  Makefile
  README.md
  demo/DEMO_QUICK_START.md
  demo/demo-analytics.json
  demo/demo-config.json
  demo/demo-mode.js
  demo/demo-prompt-cards.json
  demo/demo-test-cases.json
  docs/user-guide/TUTORIAL_FIXES_APPLIED.md
  docs/user-guide/quick-start-tutorials.md
  test_edge_cases.js
  test_social_media_template.js
  test_tutorial_1.js
  test_tutorial_2.js
  test_tutorial_3.js
  test_tutorial_5_api.js
Due: retire-js-scan, env-var-security

fix: Resolve demo command issues and Docker network conflicts
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  Makefile
  demo/load-demo-data.js
Due: retire-js-scan, env-var-security

fix: Enhanced Docker network cleanup for demo commands
  .claude-flow/metrics/system-metrics.json
  Makefile
Due: retire-js-scan

fix: Complete Docker container cleanup for working demo mode
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  Makefile
  backend/demo/DEMO_QUICK_START.md
  backend/demo/demo-analytics.json
  backend/demo/demo-config.json
  backend/demo/demo-mode.js
  backend/demo/demo-prompt-cards.json
  backend/demo/demo-test-cases.json
  backend/demo/load-demo-data.js
Due: retire-js-scan, env-var-security

feat: optimize Ollama startup, fix demo data loading and create working demo mode
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  Makefile
  backend/demo/load-demo-data-simple.js
  backend/simple-server.js
  backend/src/routes/demo.ts
  backend/src/server.ts
  docker-compose.dev.yml
  scripts/wait-for-demo.sh
Due: eslint-security-backend, typescript-check-backend, retire-js-scan, env-var-security, sql-injection-check, api-security-check

feat: add comprehensive header menu, theme switching, and optimized Ollama startup
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .github/workflows/build-ollama.yml
  data/demo-analytics.json
  data/demo-config.json
  data/demo-prompt-cards.json
  data/demo-session-state.json
  data/demo-test-cases.json
  docker-compose.dev.yml
  docker/ollama/Dockerfile
  docker/ollama/download-models.sh
  docker/ollama/startup.sh
  docs/FAST_STARTUP.md
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/TestExecution/index.ts
  frontend/src/contexts/ThemeContext.tsx
  scripts/quick-start.sh
Due: eslint-security-frontend, typescript-check-frontend, retire-js-scan, env-var-security

🐳 feat: Implement comprehensive Docker CI/CD pipeline with GHCR publishing
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .dockerignore
  .env.example
  .eslintrc.json
  .github/workflows/docker-build-publish.yml
  .github/workflows/enterprise-quality-gates.yml
  CLAUDE.copy.md
  backend/jest.config.js
  backend/tsconfig.json
  docker-compose.ghcr.yml
  docs/DOCKER_CI_CD_IMPLEMENTATION_SUMMARY.md
  docs/DOCKER_DEPLOYMENT_GUIDE.md
  docs/INFRASTRUCTURE_FIXES_SUMMARY.md
  frontend/jest.config.js
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/ClientLayout.tsx
  frontend/src/components/Header/Header.tsx
  frontend/tsconfig.json
  jest.config.js
  jest.global-setup.js
  jest.global-teardown.js
  package.json
  scripts/docker-deployment-check.sh
  tsconfig.json
Due: eslint-security-frontend, typescript-check-frontend, retire-js-scan, env-var-security

🔧 chore: Remove claude-flow metrics from git tracking
  .claude-flow/metrics/agent-metrics.json
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Due: retire-js-scan

🔧 fix: Resolve Docker workflow build failures
  .github/workflows/docker-build-publish.yml
Due: none

update: metrics tracking for repository reorganization
  .claude-flow/metrics/system-metrics.json
Due: retire-js-scan

fix: resolve Docker build failures with comprehensive fixes
  .claude-flow/metrics/system-metrics.json
  auth/Dockerfile
  backend/Dockerfile
  backend/package.json
  backend/tsconfig.build.json
  frontend/Dockerfile
  frontend/package.json
  package.json
Due: npm-audit-backend, npm-audit-frontend, retire-js-scan, license-compliance

fix: improve Docker build reliability and handle build failures gracefully
  .claude-flow/metrics/system-metrics.json
  .github/workflows/docker-build-publish.yml
  auth/Dockerfile
  auth/package.json
  auth/tsconfig.build.json
  backend/Dockerfile
Due: retire-js-scan

fix: implement proper monorepo Docker build pattern
  .claude-flow/metrics/system-metrics.json
  .github/workflows/docker-build-publish.yml
  auth/Dockerfile
  backend/Dockerfile
  frontend/Dockerfile
Due: retire-js-scan

fix: resolve npm version validation errors in Docker builds
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  auth/Dockerfile
  backend/Dockerfile
  frontend/Dockerfile
  package-lock.json
Due: retire-js-scan

fix: resolve Docker syntax errors in COPY commands
  backend/Dockerfile
  frontend/Dockerfile
Due: none

fix: move Makefile to root and update all paths for proper functionality
  .env
  Makefile
  docker/docker-compose.dev.yml
  docs/WORKFLOW_MONITORING_REPORT.md
Due: none

feat: add Ollama model download progress monitoring tools
  Makefile
  scripts/ollama-monitor.sh
  scripts/ollama-progress.sh
Due: none

fix: enhance Docker build resilience and error handling
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  auth/Dockerfile
  frontend/Dockerfile
  package-lock.json
Due: retire-js-scan

chore: update Claude Flow metrics and performance data
  .claude-flow/metrics/system-metrics.json
  backend/.claude-flow/metrics/performance.json
  backend/.claude-flow/metrics/task-metrics.json
Due: retire-js-scan

fix: resolve critical Docker build failures in CI pipeline
  .claude-flow/metrics/system-metrics.json
  backend/.claude-flow/metrics/performance.json
  backend/.claude-flow/metrics/task-metrics.json
  backend/Dockerfile
  docker/ollama/Dockerfile
  docker/ollama/startup.sh
  frontend/Dockerfile
Due: retire-js-scan

chore: update Claude Flow metrics tracking
  .claude-flow/metrics/system-metrics.json
  backend/.claude-flow/metrics/performance.json
  backend/.claude-flow/metrics/task-metrics.json
Due: retire-js-scan

fix: resolve CI infrastructure issues and prepare for dependency updates
  .claude-flow/metrics/system-metrics.json
  docs/DEPENDENCY_UPDATE_RISK_ASSESSMENT.md
  package-lock.json
Due: retire-js-scan

fix(deps): update Next.js to v14.2.31
  frontend/package.json
Due: npm-audit-frontend, retire-js-scan, license-compliance

docs: complete dependency update review and testing
  .claude-flow/metrics/system-metrics.json
Due: retire-js-scan

chore: finalize dependency update workflow and metrics tracking
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Due: retire-js-scan

chore: complete dependency update review and PR/issue cleanup
  .claude-flow/metrics/system-metrics.json
Due: retire-js-scan

fix(deps): update TypeScript ESLint to v8.39.1
  frontend/package.json
Due: npm-audit-frontend, retire-js-scan, license-compliance

chore: complete TypeScript ESLint update and finalize dependency review
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Due: retire-js-scan

fix(ci): add temporary CI workflow with relaxed checks
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .github/workflows/ci-fix.yml
  package-lock.json
Due: retire-js-scan

fix(ci): disable npm cache and add minimal lock file
  .claude-flow/metrics/system-metrics.json
  .github/workflows/ci-fix.yml
  package-lock.json
Due: retire-js-scan

chore: update performance and task metrics
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Due: retire-js-scan

feat: add GitHub Container Registry publishing workflow
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  .github/workflows/publish-containers.yml
  backend/src/middleware/auth.ts
  backend/src/middleware/validation.ts
  backend/src/services/security/PromptSanitizer.ts
  deployment.log
  docs/CONTAINER_REGISTRY.md
  scripts/publish-containers.sh
Due: eslint-security-backend, typescript-check-backend, retire-js-scan, env-var-security, sql-injection-check, api-security-check

fix: simplify container build context and platform
  .claude-flow/metrics/system-metrics.json
  .github/workflows/publish-containers.yml
Due: retire-js-scan

fix: remove problematic npm removal from auth Dockerfile
  auth/Dockerfile
Due: none

fix: simplify frontend and backend Dockerfile builds
  backend/Dockerfile
  frontend/Dockerfile
Due: none
