Repository tbowman01/prompt-card-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-security-backend, eslint-security-frontend, typescript-check-backend, typescript-check-frontend, npm-audit-backend, npm-audit-frontend, retire-js-scan, license-compliance, env-var-security, sql-injection-check, api-security-check

eslint-security-backend:
  name: üîí ESLint Security (Backend)
  entry: bash -c 'cd backend && npx eslint --ext .ts,.js --plugin security --plugin no-secrets src/'
  language: system
  stages:
  - commit

eslint-security-frontend:
  name: üîí ESLint Security (Frontend)
  entry: bash -c 'cd frontend && npx eslint --ext .tsx,.ts,.js,.jsx --plugin security src/'
  language: system
  stages:
  - commit

typescript-check-backend:
  name: üìò TypeScript Check (Backend)
  entry: bash -c 'cd backend && npx tsc --noEmit --strict'
  language: system
  stages:
  - commit

typescript-check-frontend:
  name: üìò TypeScript Check (Frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit --strict'
  language: system
  stages:
  - commit

npm-audit-backend:
  name: üîç npm audit (Backend)
  entry: bash -c 'cd backend && npm audit --audit-level=high'
  language: system
  stages:
  - commit

npm-audit-frontend:
  name: üîç npm audit (Frontend)
  entry: bash -c 'cd frontend && npm audit --audit-level=high'
  language: system
  stages:
  - commit

retire-js-scan:
  name: üîç Retire.js Vulnerability Scan
  entry: bash -c 'npx retire --path . --severity high'
  language: system
  stages:
  - commit

license-compliance:
  name: üìã License Compliance Check
  entry: bash -c 'npx license-checker --onlyAllow "MIT;Apache-2.0;BSD-2-Clause;BSD-3-Clause;ISC;CC0-1.0;Unlicense"'
  language: system
  stages:
  - commit

env-var-security:
  name: üîê Environment Variable Security
  entry: bash -c 'grep -r "process\.env\|ENV\|SECRET\|KEY\|PASSWORD\|TOKEN" --include="*.ts" --include="*.js" . && echo "‚ö†Ô∏è Review environment variable usage" || true'
  language: system
  stages:
  - commit
  verbose: true

sql-injection-check:
  name: üîç SQL Injection Prevention
  entry: bash -c 'grep -r "query.*+\|sql.*+\|SELECT.*+\|INSERT.*+\|UPDATE.*+\|DELETE.*+" --include="*.ts" --include="*.js" backend/src/ && echo "‚ö†Ô∏è Potential SQL injection vulnerability detected" && exit 1 || true'
  language: system
  stages:
  - commit

api-security-check:
  name: üîí API Endpoint Security
  entry: bash -c 'grep -r "app\.\(get\|post\|put\|delete\)" --include="*.ts" --include="*.js" backend/src/ | grep -v "auth\|middleware" && echo "‚ö†Ô∏è Unprotected API endpoints detected" && exit 1 || true'
  language: system
  stages:
  - commit

fix: improve backend Dockerfile build with fallback tsconfig
  backend/Dockerfile
Due: none

Delete package-lock.json
  package-lock.json
Due: retire-js-scan

fix: bypass ESLint v9 issues and focus on Docker pipeline
  .claude-flow/metrics/system-metrics.json
  .github/workflows/publish-containers.yml
  .markdownlint.json
  backend/eslint.config.js
Due: retire-js-scan, env-var-security

fix: completely resolve Dockerfile syntax by removing HERE document
  backend/Dockerfile
Due: none

🎉 FINAL SUCCESS: 100% workflow success rate achieved
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
Due: retire-js-scan

🐛 DEBUG FIX: Ensure Docker builds actually publish to GHCR
  .github/workflows/publish-containers.yml
Due: none

🔧 FIX: Docker build failures preventing GHCR publishing
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  auth/Dockerfile
  backend/Dockerfile
  frontend/Dockerfile
Due: retire-js-scan

🚀 FIX: Remove ALL invalid Docker syntax preventing GHCR publishing
  .claude-flow/metrics/system-metrics.json
  auth/Dockerfile
  backend/Dockerfile
  frontend/Dockerfile
Due: retire-js-scan

fix: resolve critical Dockerfile issues preventing GHCR publish
  .claude-flow/metrics/system-metrics.json
  backend/Dockerfile
  frontend/Dockerfile
Due: retire-js-scan

fix: remove BUILDPLATFORM/TARGETPLATFORM conflicts in workflow
  .claude-flow/metrics/system-metrics.json
  .github/workflows/publish-containers.yml
Due: retire-js-scan

fix: simplify to single platform (linux/amd64) to debug GHCR push
  .claude-flow/metrics/system-metrics.json
Due: retire-js-scan

fix: complete single platform change for all services
  .claude-flow/metrics/system-metrics.json
  .github/workflows/publish-containers.yml
Due: retire-js-scan

fix: resolve critical TypeScript compilation errors
  .claude-flow/metrics/performance.json
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  backend/Dockerfile
  backend/src/services/edge/EdgeCacheManager.ts
  backend/src/services/edge/EdgeNodeManager.ts
  backend/src/services/edge/EdgeOptimizer.ts
  backend/src/services/health/CircuitBreaker.ts
Due: eslint-security-backend, typescript-check-backend, retire-js-scan, env-var-security, sql-injection-check, api-security-check

feat: enhance Makefile with superior user experience and comprehensive testing
  .claude-flow/metrics/system-metrics.json
  .claude-flow/metrics/task-metrics.json
  Makefile.enhanced
  docs/MAKEFILE_ENHANCEMENT_REPORT.md
  tests/COMPREHENSIVE_TEST_REPORT.md
  tests/VALIDATION_REPORT.md
  tests/implementation-tests/.claude-flow/metrics/agent-metrics.json
  tests/implementation-tests/.claude-flow/metrics/performance.json
  tests/implementation-tests/.claude-flow/metrics/task-metrics.json
  tests/implementation-tests/api-health-check.test.js
  tests/implementation-tests/automation-configs.test.js
  tests/implementation-tests/batch-operations.test.js
  tests/implementation-tests/daily-health-check.test.js
  tests/implementation-tests/nightly-test-runner.test.js
  tests/implementation-tests/package-lock.json
  tests/implementation-tests/package.json
  tests/implementation-tests/prompt-template-engine.test.js
  tests/implementation-tests/test-validation-report.md
Due: retire-js-scan, env-var-security

Path conditions:
  eslint-security-backend: any of: ^backend/src/.*\.(ts|js)$
  eslint-security-frontend: any of: ^frontend/src/.*\.(tsx|ts|jsx|js)$
  typescript-check-backend: any of: ^backend/src/.*\.ts$
  typescript-check-frontend: any of: ^frontend/src/.*\.(ts|tsx)$
  npm-audit-backend: any of: ^backend/(package\.json|package-lock\.json)$
  npm-audit-frontend: any of: ^frontend/(package\.json|package-lock\.json)$
  retire-js-scan: any of: \.(js|ts|jsx|tsx|json)$
  license-compliance: any of: ^(backend|frontend)/package\.json$
  env-var-security: any of: \.(ts|js|tsx|jsx)$
  sql-injection-check: any of: ^backend/src/.*\.(ts|js)$
  api-security-check: any of: ^backend/src/.*\.(ts|js)$
